<?php
return [
    'remote_storage' => [
        'driver' => '${{ secrets.REMOTE_STORAGE_DRIVER }}',
    ],
    'backend' => [
        'frontName' => '${{ secrets.BACKEND_FRONTNAME }}',
    ],
    'cache' => [
        'graphql' => [
            'id_salt' => '${{ secrets.CACHE_GRAPHQL_ID_SALT }}',
        ],
        'frontend' => [
            'default' => [
                'id_prefix' => '${{ secrets.CACHE_FRONTEND_DEFAULT_ID_PREFIX }}',
            ],
            'page_cache' => [
                'id_prefix' => '${{ secrets.CACHE_PAGE_CACHE_ID_PREFIX }}',
            ]
        ],
        'allow_parallel_generation' => false
    ],
    'config' => [
        'async' => 0
    ],
    'queue' => [
        'consumers_wait_for_messages' => 1
    ],
    'crypt' => [
        'key' => '${{ secrets.CRYPT_KEY }}',
    ],
    'db' => [
        'table_prefix' => '',
        'connection' => [
            'default' => [
                'host' => '${{ secrets.CONNECTION_DEFAULT_HOST }}:${{ secrets.CONNECTION_DEFAULT_PORT }}',
                'dbname' => '${{ secrets.CONNECTION_DEFAULT_DB_NAME }}',
                'username' => '${{ secrets.CONNECTION_DEFAULT_USERNAME }}',
                'password' => '${{ secrets.CONNECTION_DEFAULT_PASSWORD }}',
                'model' => 'mysql4',
                'engine' => 'innodb',
                'initStatements' => 'SET NAMES utf8;',
                'active' => '1',
                'driver_options' => [
                    1014 => false
                ]
            ]
        ]
    ],
    'resource' => [
        'default_setup' => [
            'connection' => 'default'
        ]
    ],
    'x-frame-options' => 'SAMEORIGIN',
    'MAGE_MODE' => 'default',
    'session' => [
        'save' => 'files'
    ],
    'lock' => [
        'provider' => 'db'
    ],
    'directories' => [
        'document_root_is_pub' => true
    ],
    'cache_types' => [
        'config' => 1,
        'layout' => 1,
        'block_html' => 1,
        'collections' => 1,
        'reflection' => 1,
        'db_ddl' => 1,
        'compiled_config' => 1,
        'eav' => 1,
        'customer_notification' => 1,
        'config_integration' => 1,
        'config_integration_api' => 1,
        'graphql_query_resolver_result' => 1,
        'full_page' => 1,
        'config_webservice' => 1,
        'translate' => 1
    ],
    'downloadable_domains' => [
        'petmore.local.com'
    ],
    'install' => [
        'date' => 'Mon, 21 Apr 2025 16:07:40 +0000'
    ],
    'modules' => [
        'Magento_TwoFactorAuth' => 0,
    ],
];
