.filter-clear {
  color: @primary-color-child !important;
}

.filter-clear:hover {
  color: @secondary-color-child !important;
}

#price-slider .ui-slider-range {
  background-color: @primary-color-child !important;
}


.modes .modes-mode.mode-grid {
    width: 32px;
    height: 32px;
    background-image: url("../images/grid.svg") !important;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.modes .modes-mode.mode-grid.active,
.modes .modes-mode.mode-grid:hover {
    background-image: url("../images/grid_action.svg") !important;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.modes .modes-mode.mode-list {
    width: 32px;
    height: 32px;
    background-image: url("../images/list.svg") !important;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.modes .modes-mode.mode-list.active,
.modes .modes-mode.mode-list:hover {
    background-image: url("../images/list_action.svg") !important;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}