.contact-block {
  background-color: @primary-color-child;
}

.contact-block button.primary {
  background-color: #FFFFFF;
  color: #000;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.contact-block button.primary:hover {
  background-color: #E7E7E7;
  color: #000;
}