/* =========================================
   ADICIONAR AO CARRINHO
========================================= */

.product-info-main .action.primary.tocart,
.product-info-main #product-addtocart-button {
    background-color: #00ABAD;
    border-color: #00ABAD;
    color: #ffffff;
}

.product-info-main .action.primary.tocart:hover,
.product-info-main #product-addtocart-button:hover {
    background-color: #008c8e;
    border-color: #008c8e;
}


/* =========================================
   COMPRAR AGORA
========================================= */

.product-info-main .action.primary.buynow,
.product-info-main #product-buynow-button {
    background-color: #D61F30;
    border-color: #D61F30;
    color: #ffffff;
}

.product-info-main .action.primary.buynow:hover,
.product-info-main #product-buynow-button:hover {
    background-color: #b71a28;
    border-color: #b71a28;
}


/* =========================================
   OBTER COTAÇÃO (FRENET)
========================================= */

.product-info-main #frenet-postcode-button {
    background-color: #00ABAD;
    border-color: #00ABAD;
    color: #ffffff;
}

.product-info-main #frenet-postcode-button:hover {
    background-color: #008c8e;
    border-color: #008c8e;
}

/* estado desabilitado */

.product-info-main #frenet-postcode-button:disabled {
    background-color: #e5e5e5;
    border-color: #dddddd;
    color: #999999;
}